<app-navbar></app-navbar>

<h2 class="heading">Règlement de l'École Numérique</h2>
<div class="cards">
  <a class="card-link">
    <div class="card">
      <div class="rules-list">
        <ul>
          <li
            CLASS="titre"><strong>1. Présence et Retard</strong></li>
          <ul>
            <li>Tous les étudiants doivent respecter les horaires de présence et de sortie définis.</li>
            <li>La présence et l'absence doivent être enregistrées avec précision via le système du site.</li>
            <li>En cas d'absence, l'étudiant doit fournir une justification acceptable dès que possible.</li>
            <li>Après 4 retards ou 4 absences non justifiées, un "point de cadrage" sera émis.</li>
            <li>Après 4 "points de cadrage", l'étudiant sera renvoyé.</li>
          </ul>

          <li CLASS="titre"><strong>2. Collaboration et Communication</strong></li>
          <ul>
            <li>Tous les étudiants doivent collaborer efficacement et travailler en équipe.</li>
            <li>L'école encourage la communication continue et ouverte entre les étudiants et les enseignants.</li>
            <li>Les opinions de chacun doivent être respectées et une participation constructive aux discussions de groupe est attendue.</li>
          </ul>

          <li CLASS="titre"><strong>3. Comportement et Respect</strong></li>
          <ul>
            <li>Tous les étudiants doivent traiter les enseignants et les camarades avec respect.</li>
            <li>Tout comportement agressif ou harcèlement est strictement interdit.</li>
            <li>Les étudiants doivent respecter l'éthique et les valeurs de l'école numérique.</li>
          </ul>

          <li CLASS="titre"><strong>4. Utilisation de la Technologie</strong></li>
          <ul>
            <li>Les appareils électroniques doivent être utilisés à des fins éducatives uniquement.</li>
            <li>L'utilisation des téléphones portables pendant les cours est interdite, sauf avec l'autorisation de l'enseignant.</li>
            <li>Les droits de propriété intellectuelle doivent être respectés et aucun matériel ne doit être copié ou utilisé sans autorisation.</li>
          </ul>

          <li CLASS="titre"><strong>5. Apprentissage Continu</strong></li>
          <ul>
            <li>L'école encourage l'apprentissage continu et l'amélioration personnelle.</li>
            <li>Les étudiants doivent participer aux ateliers de formation et aux activités de développement.</li>
            <li>Les principes de la méthodologie Agile doivent être respectés en travaillant à améliorer les performances de manière régulière.</li>
          </ul>

          <li CLASS="titre"><strong>6. Entretien de l'Environnement Scolaire</strong></li>
          <ul>
            <li>Les étudiants doivent maintenir la propreté des salles de classe et des installations publiques.</li>
            <li>Jeter les déchets dans les poubelles appropriées est obligatoire.</li>
            <li>Les biens de l'école doivent être préservés et aucun dommage ne doit être causé.</li>
          </ul>

          <li CLASS="titre"><strong>7. Mesures Disciplinaires</strong></li>
          <ul>
            <li>En cas de non-respect des règles, des mesures disciplinaires appropriées seront prises, pouvant inclure un avertissement, une suspension temporaire ou une expulsion.</li>
            <li>Toutes les situations seront traitées de manière équitable et transparente.</li>
          </ul>

          <li CLASS="titre"><strong>8. Communication Continue</strong></li>
          <ul>
            <li>Les étudiants et les parents doivent suivre les annonces et notifications officielles via le site.</li>
            <li>Il est possible de communiquer avec l'administration scolaire pour des questions ou des plaintes.</li>
          </ul>
        </ul>
      </div>
    </div>
  </a>
</div>

<div class="img-container">
  <img src="assets/image/vecteezy_flat-isometric-illustration-concept-idea-lamp-slide-from_6202069.jpg" alt="Illustration">
</div>
