<body>
    <div class="container">
      
  
      <main class="main-content">
        <section class="content-wrapper">
          <div class="text-column">
            <article class="text-content">
              <h1 class="welcome-message">
                Bienvenue à l'école numérique <br />
                <span class="highlight">AHMED EL HANSALI</span> !
              </h1>
              <p class="description">
                <br /> Nous sommes ravis de vous accueillir dans votre espace <br>de suivi des absences. <br />
                Suivez votre présence et vos absences vous avez accès à vos <br>statistiques vous pouvez consulter l’historique de <br> vos absences 
                facilement et en toute transparence. <br />
                Nous vous souhaitons une expérience éducative <br> réussie et enrichissante !
              </p>
              <button class="cta-button">On commence</button>
            </article>
          </div>
          <div class="image-column">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/021c249a6e52a000e5ddf282e81a699c52f5d9c127bf1ca1458670584d5e6081?apiKey=c8e22ba112124633bbd3b2ea7a2b3814&&apiKey=c8e22ba112124633bbd3b2ea7a2b3814" alt="Students learning" class="image-content" />
          </div>
        </section>
      </main>
    </div>
    <div class="imagesfoot">
      <div>
        <img  class="FLUER" src="../../assets/image/5065 1.png" alt="">
      </div>
      <div>
        <img  class=" VAG" src="../../assets/image/1372 1.png" alt="">
      </div>
  
    </div>
  </body>