<div class="container">
  <h2>Modifier le Retard</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" class="form-control" id="date" [(ngModel)]="retard.date" name="date" required>
    </div>

    <div class="form-group">
      <label for="durationDeRetard">Durée du retard (en minutes):</label>
      <input type="number" class="form-control" id="durationDeRetard" [(ngModel)]="retard.durationDeRetard" name="durationDeRetard" required>
    </div>

    <div class="form-group">
      <label for="etatDeRetard">État de retard:</label>
      <select class="form-control" id="etatDeRetard" [(ngModel)]="retard.etat_retard" name="etatDeRetard" required>
        <option value="NONJUSITIFIER">Non justifié</option>
        <option value="JUSITIFIER">Justifié</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Modifier le retard</button>
  </form>
</div>
