.dashboard-container {
  padding: 20px;
}

.dashboard-card {
  width: 100%;
  height: 100%;
}

.stat-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.stat-item mat-icon {
  margin-right: 15px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

mat-card-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card-header {
  margin-bottom: 20px;
}

mat-card-avatar {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}
