<app-navbar ></app-navbar>
<div class="container">
  <section class="section">
    <h2>Guide d'utilisation de l'Application Web pour les Apprenants</h2>
    <p>Bienvenue sur notre plateforme numérique dédiée à la gestion des absences et retards pour les apprenants de l'École Numérique Ahmed Alhansali.</p>
  </section>

  <section class="section">
    <h2>Étape 1 : Contactez l'Administration</h2>
    <p>Pour obtenir votre code et votre email de connexion, veuillez contacter l'administration de l'école.</p>
    <div class="info-box">
      <span class="material-icons icon">email</span>
      <span>Email : administartion@ecole-numerique.ma</span>
    </div>
  </section>

  <section class="section">
    <h2>Étape 2 : Connexion</h2>
    <p>Une fois que vous avez reçu votre code et email, connectez-vous à votre compte :</p>
    <div class="info-box">
      <span class="material-icons icon">login</span>
      <span>Utilisez le formulaire de connexion pour entrer votre code et votre email.</span>
    </div>
  </section>

  <section class="section">
    <h2>Étape 3 : Consultez vos Absences et Retards</h2>
    <p>Après vous être connecté avec succès, vous pouvez consulter vos absences et retards :</p>
    <div class="info-box">
      <span class="material-icons icon">assignment</span>
      <span>Consultez les informations sur vos absences et retards directement sur votre tableau de bord.</span>
    </div>
  </section>

  <section class="section">
    <h2>Étape 4 : Importez vos Justifications</h2>
    <p>Importez vos justifications en utilisant les codes couleurs suivants :</p>
    <div class="info-box">
      <span class="material-icons icon" style="color: green;">check_circle</span>
      <span>Justification acceptée</span>
    </div>
    <div class="info-box">
      <span class="material-icons icon" style="color: #ccc;">check_circle</span>
      <span>Justification en attente de validation</span>
    </div>
  </section>
</div>
